<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 title-content">
            <h2><a class="title-link" href="/">My Songs</a>     /     {{song.title}}</h2>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2 class="song-title">{{song.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="link-list">
                    <li ng-repeat="link in links"><a href="{{link.url}}">{{link.title}}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="iframe-list">
                    <li ng-repeat="yTData in yTDatas"><iframe width="140" height="105" src="{{yTData.iframe | trustAsResourceUrl}}"></iframe></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pre class="lyrics">{{song.lyrics}}</pre>
            </div>
        </div>
    </div>
</div>