<!--<!DOCTYPE html>-->
<html ng-app="myModule">
<head>
    <!--title-->
    <title>SongsHolder</title>

    <!--meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <!--included scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!--<script src="https://code.angularjs.org/1.6.2/angular-route.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>-->
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--my own files-->
    <script src="/js/script.js"></script>
    <script src="/js/songService.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>
<body ng-controller="songsController">
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1 hidden-xs side-menu display-table-cell valign-top" id="side-menu">
            <div class="row logo-row">
                <div class="col-md-12">
                    <a class="logo hidden-sm hidden-xs" href="#/home">Songs<span>Holder</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="hidden-sm hidden-xs" ui-sref="songs">Songs</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning add-song-button" ng-click="go('addSong')">Add Song</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="header-search-field hidden-sm hidden-xs" placeholder="Search for songs..." ng-model="searchSongText.title">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table songs-table">
                        <tbody>
                            <tr ng-repeat="song in songs | filter:searchSongText">
                                <td>
                                    <a href="#/songs/{{song.title}}">
                                        <span>{{$index + 1}}. {{song.title}}</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- main content -->
        <div class="col-md-10 col-sm-11 display-table-cell valign-top box">
            <div class="row">
                <ui-view/>
            </div>
            <div class="row">
                <footer class="admin-footer clearfix">
                    <div class="pull-left"><b>Copyright </b>&copy; 2017</div>
                    <div class="pull-right">admin system</div>
                </footer>
            </div>
        </div>
    </div>
</div>




</body>

</html>